header{

}

body{
    font-family: "Segoe UI";
    background-color: white;
    color: black;
    margin:0;
}

nav li{
    display: inline;
    margin-right: 0.5rem;

}

.HOME img{
    margin: 0px;
    height: 250px;
    width:100%;


}

.ABOUT {
    font-style: bold;
    font-size: 30px;

}
.grid-container {
    display:grid;
    
}

.grid-item{
    font-size: 15px;

}

.PRODUCT {
    font-style: bold;
    font-size: 30px;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-card{

    height: 11rem;
    width: 11rem;
    background-color: white;
    margin: 1rem 1rem;

}

footer{

}